
src/__pycache__
addons/__pycache__
__pycache__


documents/readme-old.md

# Old HaarCascade frontalface version files. (unneeded.)
src/old 



# models
*.pt
#src/haarcascade_frontalface_default.xml
#src/models/08052026.xml # (Fallback model)